/*font-family: "Cormorant Unicase", serif;
font-family: "Quicksand", sans-serif;*/

:root {
  --primary-font-family: "Quicksand", sans-serif;
  --title-font-family: "Cormorant Unicase", serif;
  --primary-colour: #eba0a0;
}

h1 {
  font-family: var(--title-font-family);
  font-size: 100px;
  line-height: 1;
}

h2 {
  font-family: var(--title-font-family);
}

p {
  font-size: 20px;
}
.hero {
  text-align: center;
  border: 1px solid white;
  padding-top: 100px;
  padding-bottom: 400px;
  background: var(--primary-colour);
}

.hero h2,
h3 {
  font-family: var(--primary-font-family);
  margin-bottom: 0;
}

.tagline,
p {
  font-family: var(--primary-font-family);
}

.project-description {
  padding: 110px 50px;
}

.project-img-home {
  border-radius: 10px;
}

.button-wrap {
  display: flex;
  justify-content: space-evenly;
}
.button-design-primary {
  padding: 10px 20px;
  border: 1px solid var(--primary-colour);
  text-decoration: none;
  color: var(--primary-colour);
  border-radius: 4px;
}

a:hover {
  background: var(--primary-colour);
  padding: 10px 20px;
  color: white;
}
